* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: url("../assets/images/fondo.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  padding: 80px 30px 30px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

.logo {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  border-radius: 50%;
}

.logo img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}


.login-card h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 26px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  color: white;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px 5px;
  margin-top: 8px;
  background: transparent;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  color: white;
  font-size: 15px;
}

.input-group input:focus {
  border-bottom: 2px solid rgb(196, 9, 238);
}

.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  background: rgb(196, 0, 255);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-login:hover {
  background: #70129f;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  opacity: 0.8;
}

.links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.msg {
  margin-top: 15px;
  font-size: 14px;
  color: yellow;
}



/* A  utocompletar */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}